a {
  text-decoration: none;
}

h1, h2, h3, p, h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "Roboto";
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

.header__span-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .header__item {
    margin-left: 51px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .header__item {
    margin-left: 93px;
  }
}

.header__item:first-child {
  margin-left: 0px;
}

@media screen and (min-width: 480px) {
  .hdr__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hdr__list {
    display: block;
    margin-left: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .hdr__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__header {
    margin-left: 50px;
  }
}

.head .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .header__list {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

.link__header {
  color: #000000;
  -webkit-transition: 250ms cubic-bezier(0.17, 0.67, 0.93, 0.69);
  transition: 250ms cubic-bezier(0.17, 0.67, 0.93, 0.69);
}

.link__head {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.17, 0.67, 0.93, 0.69);
  transition: 250ms cubic-bezier(0.17, 0.67, 0.93, 0.69);
}

.link__header:hover {
  color: #2196F3;
}

.link__head:hover, .icon-contacts:hover {
  color: #2196F3;
  fill: #2196F3;
}

.icon__contacts {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.17, 0.67, 0.93, 0.69);
  transition: 250ms cubic-bezier(0.17, 0.67, 0.93, 0.69);
}

@media screen and (min-width: 480px) {
  .button-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15px;
  }
}
@media screen and (min-width: 768px) {
  .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    margin-top: 94px;
  }
}

@media screen and (min-width: 480px) {
  .button-item {
    margin-top: 15px;
    margin-left: 8px;
  }
}
@media screen and (min-width: 768px) {
  .button-item {
    margin-top: 0px;
  }
}

.btn {
  background: #F5F4FA;
  border-radius: 4px;
  width: 128px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: #757575;
  color: #212121;
  border: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: 250ms cubic-bezier(0.17, 0.67, 0.93, 0.69);
  transition: 250ms cubic-bezier(0.17, 0.67, 0.93, 0.69);
}

.btn:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}

.team-card {
  outline: 1px solid #EEEEEE;
  width: 450px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .team-card {
    width: 354px;
    padding-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .team-card {
    width: 370px;
    padding-top: 48px;
  }
}

.team-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 24px;
}

.text {
  margin-left: 24px;
  color: #000000;
}

@media screen and (min-width: 480px) {
  .team-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 60px;
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-card-list {
    padding-bottom: 94px;
    padding-top: 48px;
  }
}

.team-card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms cubic-bezier(0.17, 0.67, 0.93, 0.69);
  transition: 250ms cubic-bezier(0.17, 0.67, 0.93, 0.69);
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .footer {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    width: 1600px;
  }
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  footer .container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.footer-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196F3;
}
@media screen and (min-width: 480px) {
  .footer-link {
    margin-left: 20px;
  }
}

.footer-span {
  color: #FFFFFF;
}

.footer-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-top: 20px;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .footer-item {
    text-align: center;
  }
}

.footer-item-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin-top: 9px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .footer-item-2 {
    text-align: center;
  }
}

.footer-title {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700px;
}
@media screen and (min-width: 480px) {
  .footer-title {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700px;
    text-align: center;
  }
}

.footer-social-links {
  margin-top: 60px;
  width: 206px;
}
@media screen and (min-width: 768px) {
  .footer-social-links {
    margin-top: 0px;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-links {
    margin-left: 70px;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

.icon-footer-item {
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 12px;
  border-radius: 50px;
  -webkit-transition: 250ms cubic-bezier(0.17, 0.67, 0.93, 0.69);
  transition: 250ms cubic-bezier(0.17, 0.67, 0.93, 0.69);
}

.icon-footer-item:hover, .icon-footer:hover {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.icon-footer-item:first-child {
  margin-left: 0px;
}

.icon-footer {
  fill: #FFFFFF;
}

.icon-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer-adress {
  text-align: center;
  width: 232px;
  margin-right: 15px;
}
@media screen and (min-width: 1200px) {
  .footer-adress {
    margin-left: 0px;
  }
}/*# sourceMappingURL=portfolio.css.map */