body{
    font-family: "Roboto";
}
a{
    text-decoration: none;
}

h1,h2,h3,p,h4{
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
list-style: none;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.header-link{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.29;
    letter-spacing: 0.03em;
    color: #000000;
    
    
    }
    .header-span-link{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
    }
    .header-item{
        
        font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    margin-left: 93px;
    }
    
    .hdr-list{
        display: flex;
    }

    .contacts{
        margin-left: 50px;

    }

    .head .container{
        display: flex;
        height: 80px;
        align-items: center;
    }
    
    .header-list{
        margin-right:auto ;
        display: flex;
        align-items: center;
    }
    
    .link-header{
        color: #000000;
    }
    .link-head{
        font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
    color: #757575;
    }

.team-card{

    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
    margin-left: 30px;
    margin-top: 30px;
    
}

.team-card:nth-child(1){
    margin-left: 0px;
}

.team-card:nth-child(4){
    margin-left: 0px;
}

.team-card:nth-child(7){
    margin-left: 0px;
}


.team-card-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
margin-left: 24px;
color: #757575;

}

.text{
    margin-left: 24px;
    color: #000000;
}


.footer{
    background: #2F303A;
    width: 1600px;
height: 252px;
    }
    
    .footer-link{
        
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #2196F3;
          
    }
    
    .footer-span{
        color: #FFFFFF;
    }
    
    .footer-item{
        font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-top: 20px;
    color: #FFFFFF;
    font-family: "Roboto";
    }
    
    .footer-item-2{
        font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 9px;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    }

.main{
    font-family: "Roboto";
    
}

.footer-section{
    padding-top: 60px;
}

.team-card-list{
    margin-left: 215px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
}

.button-list{
    margin-top: 94px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.button-item{
    margin-left: 8px;
    
}

.btn{
    background: #F5F4FA;
border-radius: 4px;
width: 128px;
height: 38px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
border-color: #757575;
color: #212121;
border: none;
}

.btn:hover{
    color: #FFFFFF;
    background-color: #2196F3;
}

.link-header:hover{
    color: #2196F3;
}

.link-head:hover{
    color: #2196F3;
}

.head{
    border-bottom: 1px solid #ECECEC;
    
}


