.header-link{
    font-family: $header-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.29;
    letter-spacing: 0.03em;
    color: $standart-color;
    
    
    }
    .header-span-link{
    font-family: $header-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: $hover-color;
    }
    .header-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    margin-left: 93px;
    
    }
    
    .hdr-list{
        display: flex;
    }

    .contacts{
        margin-left: 50px;

    }

    .head .container{
        display: flex;
        height: 80px;
        align-items: center;
    }
    
    .header-list{
        margin-right:auto ;
        display: flex;
        align-items: center;
    }
    
    .link-header{
        color: $standart-color;
        transition: 250ms cubic-bezier(.17,.67,.93,.69);
    }
    .link-head{
        font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
    color: $icon-color;
    transition: 250ms cubic-bezier(.17,.67,.93,.69);
    }

    .link-header:hover{
        color: $hover-color;
    }
    
    .link-head:hover{
        color: $hover-color;
    }
    
    .head{
        border-bottom: 1px solid $borderbottom-color;
    }