.team-card{    
        outline: 1px solid $border-color;
        width: 450px;
        padding-top: 40px;
        @media screen and (min-width: 768px){
            width: 354px;
            padding-top: 32px;
        }
        @media screen and (min-width: 1200px){
            width: 370px;
            padding-top: 48px;
        }
}



.team-card-text{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
// margin-left: 24px;
color: $icon-color;
margin-left: 24px;
}

.text{
    margin-left: 24px;
    color: $standart-color;
}

.team-card-list{
    @media screen and (min-width: 480px){
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 60px;
        padding-top: 30px;
    }
    @media screen and (min-width: 1200px){
        padding-bottom: 94px;
        padding-top: 48px;
    }
}



.team-card:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms cubic-bezier(.17,.67,.93,.69);
}