.article{
    padding-top: 94px;
    padding-bottom: 94px;
    @media screen and (min-width: 480px){
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.article-item::before{
    background-color: $background-color;
    content: '';
    width: 450px;
height: 120px;
display: block;
background-repeat:no-repeat;
background-position: center;
background-size: 70px;

@media screen and (min-width: 768px){
    width: 384px;
    height: 120px;
}

@media screen and (min-width: 480px){
    width: 270px;
height: 120px;
}
}

.article-item:first-child::before{
   background-image: url("../../img/antenna.png");
}

.article-item:nth-child(2)::before{
    background-image: url("../../img/clock.png");
}

.article-item:nth-child(3)::before{
    background-image: url("../../img/diagram.png");
}

.article-item:last-child::before{
    background-image: url("../../img/astronaut.png");
}

.article-list{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 15px;
        @media screen and (min-width: 1200px){
            gap: 30px;
        }
}
.article-item{
    width: 270px;
}

.article-text{
    color: $icon-color;
    margin-top: 10px;
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.article-title{
    color: $standart-color;
    margin-top: 30px;
}