.clients-title{
@media screen and (min-width: 480px){
    font-size: 28px;
line-height: 33px;
text-align: center;
    font-weight: 700;
    margin-top: 60px;
}

@media screen and (min-width: 1200px){
    font-size: 36px;
line-height: 1.16;
margin-top: 94px;
}
}

.clients-list{
        display: flex;
    margin-top: 30px;
    list-style: none;
    margin-bottom: 60px;
    flex-wrap: wrap;
    @media screen and (min-width: 768px){
        justify-content: center;
        margin-left: 30px;
    }

    @media screen and (min-width: 1200px){
        margin-top: 50px;
        margin-bottom: 94px;
    }
}

.clients-item{ 
    width: 210px;
    height: 92px;
        margin-left: 15px;
        border: 1px solid $icon-color-bright;
        border-radius: 4px;
        transition: 250ms cubic-bezier(.17,.67,.93,.69);
        margin-top: 30px;
}

.icon-clients{
    fill: $icon-color-bright;
    transition: 250ms cubic-bezier(.17,.67,.93,.69);
    margin: 16px 52px;
}

.icon-clients:hover,.clients-item:hover{
    fill: $hover-color;
    border-color: $hover-color;
}