.header__link{
    font-family: $header-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $standart-color;
    
    
    }
    .header__span-link{
    font-family: $header-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: $hover-color;
    }
    .header__item{ 
    @media screen and (min-width: 768px){
        margin-left: 51px;
        font-family: $header-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    }   

    @media screen and (min-width: 1200px){
        margin-left: 93px;
    }

    
    }

    .header__item:first-child{
        margin-left: 0px;
    }
    
    .hdr__list{
            
            @media screen and (min-width: 480px){
                display: none;
            }

            @media screen and (min-width: 768px){
                display: block;
                margin-left: 75px;
            }
            @media screen and (min-width: 1200px){
                display: flex;
            }
    }
    
    .contacts__header{
        @media screen and (min-width: 1200px){
            margin-left: 50px; 
        }
       
    }
    
    .head .container{
        display: flex;
        height: 80px;
        align-items: center;
    }   
    
    .header__list{
            @media screen and (min-width: 480px){
                display: none;
                align-items: center;
                
            }

            @media screen and (min-width: 768px){
                display: flex;
                  margin-left: 88px;  
            }
    }
    
    .link__header{
        color: $standart-color;
        transition: 250ms cubic-bezier(.17,.67,.93,.69);
    }
    .link__head{
        font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $icon-color;
    transition: 250ms cubic-bezier(.17,.67,.93,.69);
    }
    
    .link__header:hover{
        color: $hover-color;
    }
    
    .link__head:hover,.icon-contacts:hover{
        color: $hover-color;
        fill: $hover-color;
    }
    
    
    .icon__contacts{
        margin-right: 10px;
        fill: $icon-color;
        transition: 250ms cubic-bezier(.17,.67,.93,.69);
    }