$hover-color: #2196F3;
$standart-color: #000000;
$icon-color: #757575;
$defalut-color: #FFFFFF;
$font-color: #212121;
$icon-color-bright: #AFB1B8;
$background-color: #F5F4FA;
$background-darkcolor: #2F303A;
$borderbottom-color: #ECECEC;
$border-color: #EEEEEE;
$header-font: 'Raleway';